@import url(https://fonts.googleapis.com/css?family=Verdana:400,100,200,300,500,600,700/);

#footerLog {
    background-color: #ffffff;
    background-image: url(images/footer-bg.jpg);
    float: right;
    height: 71px;
    width: 100%;
    text-align: left;
}

body{
	font-family: Verdana, sans-serif;
	background-color:#f0f0f0;
}

img{
	max-width: 100%;
	height: auto;
}
.container .container {
    width: 100%;
}
.container {
    padding-left: 80px;
	padding-right: 80px;
}

.logowanie__box{
	background-color: #f7f7f7;
	height: auto;
	border: 1px solid #dedede;
	padding: 20px;
}
.logowanie__box h3{
	font-size: 24px;
	margin-top:0;
}
.logowanie-lft, .logowanie-rgt{
	margin-top:30px;
	margin-bottom:30px;
	margin-left:30px;
}
.logowanie__cont form .form-group{
	width: 70%;
}
.logowanie__cont form .form-group input.form-control{
	width: 100%;
	height: 35px;
	box-shadow: none;
}
.logowanie__cont form button {
    width: 25%;
    float: right;
	background-color:#00A472;
	color:#fff;
	height: 35px;
	border:1px solid transparent;
}
.logowanie__para p{
	font-size: 12px;
	color:#000;
	font-weight:400;
	margin-bottom: 0;
}
.logowanie__para p a{
	color:#000;
	text-decoration: underline;
}
.logowanie__para{
	padding: 30px 0;
}
.logowanie__contact span{
	display: block;
	line-height: 1.8;
	font-size: 11px;
}
.logowanie__location h3{
	font-size: 12px;
	font-weight:400;
	margin-top: 0;
    line-height: 16px;	
}
.login-area .nav>li>a {
    border: 1px solid #ccc;
    border-radius: 0;
}
.login-area .nav>li>a:hover{
	background-color:#00A472;
	color:#fff;
	border: 1px solid transparent;
}
.login-area .nav-tabs>li.active>a, .login-area .nav-tabs>li.active>a:hover, .login-area .nav-tabs>li.active>a:focus{
	background-color:#00A472;
	color:#fff;
	border: 1px solid transparent;
}

#content {
    /* background-image: url(../img/container-bg.png); */
    background-color: white;
    /*height: auto;
    width: 100%;
    padding: 0 6px 0 6px;
    text-align: center;
    display: table;*/
}
#right {
	padding-left: 10px;
	padding-right: 10px;
}
#left-menu {
    background: url(img/leftMenuCornerShadow.png) no-repeat top right;
    color: #ffffff;
    font-size: 10px;
    font-family: Helvetica;
    width: 131px;
    float: left;
    text-align: center;
    padding-top: 20px;
}
#left-menu ul {
    float: right;
    height: auto;
    list-style: none;
}
#left-menu li {
    height: 52px;
    margin-bottom: 2px;
    float: right;
    width: 69px;
}
#left-menu a {
    color: #ffffff;
    display: block;
    padding-top: 50%;
    text-decoration: none;
}
.mAlert a {
    padding-top: 10% !important;
}
#m0, #m10, #m11, #m12 {
    line-height: 0.8em;
    background-image: url(https://planet.bgzbnpparibas.pl/hades/ver/pl/demo_smart_planet/static/img/mWiadomosci.png);
}
#m0Img {
    background-image: url(https://planet.bgzbnpparibas.pl/hades/ver/pl/demo_smart_planet/static/img/icoMessageAlert.gif);
    background-repeat: no-repeat;
    width: 27px;
    height: 17px;
    margin-left: 22px;
    margin-top: 2px;
}
#m0ImgA {
    background-image: url(https://planet.bgzbnpparibas.pl/hades/ver/pl/demo_smart_planet/static/img/icoMessageAlertActive.gif);
    background-repeat: no-repeat;
    width: 27px;
    height: 17px;
    margin-left: 22px;
    margin-top: 2px;
}
#m1 {
    background-image: url(https://planet.bgzbnpparibas.pl/hades/ver/pl/demo_smart_planet/static/img/mFinanse.png);
}
#m0.active, #m0:hover, #m1.active, #m1:hover, #m2.active, #m2:hover, #m3.active, #m3:hover, #m4.active, #m4:hover, #m5.active, #m5:hover, #m6.active, #m6:hover, #m7.active, #m7:hover, #m8.active, #m8:hover, #m9.active, #m9:hover {
    background-color: #ffffff;
}
#m2.active, #m2:hover {
    background-image: url(https://planet.bgzbnpparibas.pl/hades/ver/pl/demo_smart_planet/static/img/mPlatnosciActive.png);
    border-left: 6px solid #118d71;
}
#m2 {
    background-image: url(https://planet.bgzbnpparibas.pl/hades/ver/pl/demo_smart_planet/static/img/mPlatnosci.png);
}
#m3 {
    background-image: url(https://planet.bgzbnpparibas.pl/hades/ver/pl/demo_smart_planet/static/img/mRachunki.png);
}
#m4 {
    background-image: url(https://planet.bgzbnpparibas.pl/hades/ver/pl/demo_smart_planet/static/img/mKarty.png);
}
#m5 {
    background-image: url(https://planet.bgzbnpparibas.pl/hades/ver/pl/demo_smart_planet/static/img/mOszczednosci.png);
}
#m7 {
    background-image: url(https://planet.bgzbnpparibas.pl/hades/ver/pl/demo_smart_planet/static/img/mInwestycje.png);
}
#m6 {
    background-image: url(https://planet.bgzbnpparibas.pl/hades/ver/pl/demo_smart_planet/static/img/mKredyty.png);
}
#m8 {
    line-height: 0.8em;
    background-image: url(https://planet.bgzbnpparibas.pl/hades/ver/pl/demo_smart_planet/static/img/mPFM.png);
}
#m9 {
    background-image: url(https://planet.bgzbnpparibas.pl/hades/ver/pl/demo_smart_planet/static/img/mWnioski.png);
}
#keyMessage .payments .logo {
    background: url(https://planet.bgzbnpparibas.pl/hades/ver/pl/demo_smart_planet/static/img/kmLogoPlatnosci.png);
}
#keyMessage div.logo {
    height: 40px;
    width: 40px;
    float: left;
    margin-top: -10px;
    margin-right: 5px;
}
#keyMessage .payments h1 {
    color: #018d70;
    text-align: left;
}
#keyMessage h1 {
    font-size: 25px;
    font-weight: normal;
}

#transferDetails h2 {
	font-size: 16.5px;
	font-weight: 700;
}
.detailsTableV1 {
	border: 1px solid rgb(223,223,223);
	background-color: rgb(247,247,247);
	margin-bottom: 10px;
}
.detailsTableV1 .detailsTd {
	padding: 10px 10px 10px 15px;
	font-size: 12px;
    font-family: Helvetica;
}


/*==============Media Queries==============*/
/* 24" large Screens */
@media only screen and (max-width : 720px) {
.footerletter{
	margin-top:0px;
}
#transferDetails {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.paolos {
		width:100%;
	}
}

	
@media  (min-width:720px) {
	
.paolos {
		width:200px;
		
	}
	.footerletter{
	margin-top:180px;
}
#transferDetails {
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 20px;
}
}


/* 22" large Screens */
@media only screen and (max-width : 1680px) {	}


/* 20" large Screens */
@media only screen and (max-width : 1600px) {	}


/* 19" large Screens */
@media only screen and (max-width : 1440px) {	}


/* 13" Notebook Large Devices, Wide Screens */
@media only screen and (max-width : 1280px) {	}


/* Ubuntu, Medium Screens */
@media only screen and (max-width : 1198px) {	}


/* 12" Notebook & iPad landscape  · width: 1024px */
@media only screen and (max-width : 1024px) {	}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	#left-menu {
		width: 80px;
	}
}


/*Landscape*/
@media only screen and (max-width : 960px) {	}


/* Kindel Fire HD 8.9in (800x1280) Tablets */
@media only screen and (max-width : 800px) {	}


/* iPad (All) (768x1024) Portrait Tablets */
@media only screen and (max-width : 768px) {

.login-area .nav>li>a{
	font-size: 12px;
    padding: 10px 9px;
}
.detailsTableV1 .detailsTd {
	padding: 5px;
}
.detailsTableV1 .detailsTdLeft {
	font-weight: 700;
	font-size: 13px;
}
.detailsTableV1 .detailsRow {
	margin-bottom: 10px;
}

/* Lower then iPad (All) (767x---) */
@media only screen and (max-width : 767px) {	

.login-area .nav>li>a {
    font-size: 12px;
    padding: 10px 9px;
    border: 1px solid #ccc;
    border-radius: 0;
    margin-bottom: 0px;
    margin-right: -1px;
}
.logowanie__cont form .form-group{
	width: 100%;
}
.logowanie__cont form button{
	float: none;
	width: auto;
}
}

/*iPhone 6 Plus landscape · width: 736px */
@media only screen and (max-width : 736px) {	}

/*iPhone 6 landscape · width: 667px */
@media only screen and (max-width : 667px) {

.login-area .nav>li, .login-area .nav>li>a{
	width: 100%;
}
.container {
	padding-left: 30px;
	padding-right: 30px;
}
}

.form-control{
	margin-top:5px;
	width: 32%;
	font-size:10px;
	height: 32px;
	box-shadow: none;
}

/*iPhone4 and iPhone5 Galaxy S2 and S3  */
@media only screen and (max-width : 640px) {	}


/* Google Nexus 7 603x966 | Samsung Galaxy Tab 600x1024  */
@media only screen and (max-width : 603px) {	}


/* iPhone 5 Landscape · 320x568px */
@media only screen and (max-width : 568px) {	}


/* Kindel Fire HD 8.9in (533x853) Tablets */
@media only screen and (max-width : 533px) {
	
}


/*iPhone3 Landscape*/
@media only screen and (max-width : 480px) {	}


/* iPhone 6 PLUS (414x736) */
@media only screen and (max-width : 414px) {	

.logowanie__box h3 {
    font-size: 20px;
    margin-top: 0;
}
.logowanie-lft, .logowanie-rgt{
	padding:0;
}
}


/* iPhone 6 portrait (375x667) */
@media only screen and (max-width : 375px ) {	}


/* Galaxy S5 (360x640) */
@media only screen and (max-width : 360px) {

.logowanie__box{
	padding: 15px;
}
.container {
    padding-left: 3px;
    padding-right: 3px;
}

	}


/* iPhone 3/4 Blackberry8300 / LG/ AUSUS / S3 S4 */
@media only screen and (max-width : 320px) {	}


/*Galaxy Y*/
@media only screen and (max-width : 240px) {	}