BODY {
    font-family: Tahoma, sans-serif; font-size: 11px; color: #000000;
    margin: 0px; 
    padding: 0px;
}
div { position: relative; padding:0; margin:0; }
table {	font-family: Tahoma, sans-serif; font-size: 11px; color: #000000; }
img { border: 0px; }
h3 { font-family: Tahoma, sans-serif; font-size: 12px; color: #4b4b4b; }
h4 { font-family: Tahoma, sans-serif; font-size: 12px; color: #4b4b4b; }

#all { top: 0px; width: 720px; margin: 0 auto 0 auto; height: 700px;}
#top { width: 100%; height: 92px; margin-bottom: 15px; }
#top_m { width: 100%; height: 60px; margin-bottom: 0px; }
#top_m td { vertical-align: middle; }
#top_l { float: left; }
#top_l a img { margin-top: 10px; }
#top_center { margin: 17px 0 0 10px; text-align: center; }
#top_c { position: absolute; top: 0; left: 0; display: block; width: 100%; text-align: center; }
#top_c .center { display: block; height: 95px; text-align: center; }
#top_c .center img { margin-top: 20px; }
#top_r { float: right; }
#top_r img { position: absolute; right: 0; top: 0; z-index: 0; }
#top_rm { display: block; float: right; vertical-align: middle; }
#top_rm a img { margin-top: 30px; position: absolute; right: 0; top: 0; z-index: 0; }

.gray_pad { width: 100%; height: 25px; margin: 0 auto 5px auto; background-color: #F3F3F3; position: relative; z-index: 1; }
#menu_top_l { position: absolute; }
.gray_pad ul { margin: 4px; padding-left: 10px; }
.gray_pad ul li { list-style-type: none; display: inline; }

.gray_pad_m { width: 100%; height: 25px; margin: 0 auto 10px auto; background-color: #F3F3F3; position: relative; z-index: 1; }
.gray_pad_m ul { margin: 5px 0 0 0; padding-left: 10px; }
.gray_pad_m ul li { list-style-type: none; display: inline; }

#mid_t { width: 719px; height: 168px; }
#mid_tt { width: 719px; padding: 0; margin: 0; border-collapse: collapse; border: 0; }
#mid_tt .r { text-align: right; }
#mid_b { width: 719px; height: 140px; margin-top: 8px; background-image: url(img/sanki.html); text-align: center; }
#mid_bt { width: 719px; text-align: left; color: #ffffff; border-collapse: collapse; border: 0; padding: 0; }
#mid_bt td { vertical-align: top; }
#mid_bt div { margin-left: 5px; }
.blockw { margin: 0; padding: 10px 0 0 15px; }
.blockw ul { margin: 0; padding-left: 10px; }
.blockw ul li { padding-left: 10px; margin: 0; }
.last_td { color: #000000; }
.head_m { margin: 10px 0 5px 0; padding: 0; }
a.ww, a.ww:link, a.ww:visited, a.ww:hover { font-weight: bold; font-size: 12px; text-decoration: underline; color: #ffffff; }
a.wc, a.wc:link, a.wc:visited, a.wc:hover { font-weight: bold; font-size: 12px; text-decoration: underline; color: #000000; }


.left_m a { margin-top: 1px; }
.left_m img { padding: 0 4px; }

.left_c { float: left; margin-top: 1px; display: block; color: #000000; font-family: sans-serif, Tahoma; font-size: 11px; font-weight: bold; text-decoration: underline; }
a.left_cs:link, a.left_cs:hover, a.left_cs:visited  { float: left; font-family: sans-serif, Tahoma; font-size: 11px; font-weight: bold; text-decoration: underline; }

#menu_top_r { position: absolute; right: 0; }
#menu_top_r li a { margin-top: 1px; }
#menu_top_r li img { margin: 0; }
#menu_top_r li a img { padding: 1px 5px; }

#main { width: 100%; }
#start { width: 100%; height: 440px;}
#start_m { width: 100%; }

#main_l { width: 185px; height: 450px; margin: 0; background: url(img/main_separator.html) top right repeat-y; }
#main_m { width: 210px; height: 450px; margin: 0; background: url(img/main_separator.html) top right repeat-y; }
#main_r { width: 325px; height: 450px; margin: 0; padding: 0; }
#main_r img { margin-left: 10px; padding: 0; }

.main_head { width: 100%; margin: 0 0 10px 0; padding: 0; text-indent: 10px; background: url(img/main_separator_top.html) top right no-repeat; }
.main_head_akt { width: 100%; margin: 0 0 10px 0; padding: 0; }
.main_head_clear { width: 100%; height: 15px; margin: 0 0 10px 0; padding:0; clear: both; }
.main_foot { position: absolute; bottom: 0; right:0; width: 100%; height: 20px; background: url(img/main_separator_bot.html) bottom right no-repeat; }

#bottom_label { padding-left: 2px; font-weight: bold; }
#bottom_label span { font-size: 12px; text-decoration: underline; }
#logos_bottom { margin-bottom: 10px; padding: 5px 0  5px 0; border-top: 1px solid #f1f1f1; border-bottom: 1px solid #f1f1f1; }
#gray_pad_bottom { width: 100%; height: 25px; margin: 0 auto 20px auto; background-color: #F3F3F3; text-align: center; }
#gray_pad_bottom_clear { width: 100%; height: 25px; margin: 0 auto 20px auto; text-align: center; }
#bottom_pad { list-style-type: none; margin: 0 auto 0 auto; padding: 0; }
#bottom_pad li { display: inline; margin: 0; }
#bottom_pad li a { margin: 1px 0 0 0; text-decoration: underline; }
#bottom_pad li img { margin: 0 2px; top: 2px; }

#logos { width: 100%; text-align: center; margin: 0 0 20px 0; }
#logos a { display: block inline; }

.block { display: block; margin-top:20px; }
.left { float: left; }
.right { float: right; }
.center { width:100%; text-align: center; }
.bottom { position: absolute; bottom: 0; }
.hidden { visibility: hidden; }
.clear_r { clear: right; }
.clear_l { display: block; clear: left; }
.blocktext { width: 90%; margin: 0 4% 0 4%; padding: 0; font-family: Tahoma, sans-serif; font-size: 11px; color: #696969; line-height: 16px; }
.blocktext_r { margin-left: 10px; padding: 0; font-family: Tahoma, sans-serif; font-size: 11px; color: #696969; line-height: 16px; }
.horizontal { width: 100%; height: 5px;  margin: 20px 0; background: url(img/separator_hot.html) center no-repeat; }
ul.blockl { margin: 10px; padding: 5px; }
.blockl li { list-style-type: disc; }
ul.center a { display: block inline; }
ul.center img { margin-top: 3px; }

a, a:link, a:visited { color: #000000; text-decoration: none; font-family: Tahoma, sans-serif; font-size: 11px; font-weight: bold; }
a:hover { color: #000000; text-decoration: underline; font-family: Tahoma, sans-serif; font-size: 11px;  font-weight: bold;}

a.linkbig, a.linkbig:visited,a.linkbig:hover { text-decoration: none; font-family: Tahoma, sans-serif; font-size: 12px; font-weight: bold; }
a.linkbig1, a.linkbig1:visited,a.linkbig1:hover { color: #a01e00; text-decoration: none; font-family: Tahoma, sans-serif; font-size: 12px; font-weight: bold; }

a.p_link, a.p_link:visited,a.p_link:hover { text-decoration: none; font-family: Tahoma, sans-serif; font-size: 11px; font-weight: bold; }
a.p_link1, a.p_link1:visited,a.p_link1:hover { color: #a01e00; text-decoration: none; font-family: Tahoma, sans-serif; font-size: 11px; font-weight: bold; }

a.linkbig2, a.linkbig2:visited { text-decoration: none; font-family: Tahoma, sans-serif; font-size: 11px; font-weight: normal; }
a.linkbig2:hover { text-decoration: underline; font-family: Tahoma, sans-serif; font-size: 11px; font-weight: normal; }

a.linkbig22, a.linkbig22:visited { color: #a01e00; text-decoration: none; font-family: Tahoma, sans-serif; font-size: 11px; font-weight: normal; }
a.linkbig22:hover { color: #a01e00; text-decoration: underline; font-family: Tahoma, sans-serif; font-size: 11px; font-weight: normal; }

a.wiecej,a.wiecej:link, a.wiecej.hover, a.wiecej:visited { color: #505050; text-decoration: underline; font-family: Tahoma, sans-serif; font-size: 11px; font-weight: bold; }

a.footer,a.footer:visited { color: #606060; text-decoration: none; font-family: Tahoma, sans-serif; font-size: 11px; font-weight: bold; }
a.footer:hover { color: #606060; text-decoration: underline; font-family: Tahoma, sans-serif; font-size: 11px; font-weight: bold; }

/*  POMOC  */
/* menu */

.info { margin: 0 10px; padding-top: 6px; font-weight: bold; }
.info a { text-decoration: underline; font-family: Tahoma, sans-serif; font-size: 11px; font-weight: bold; }
#left_menu { margin:0; padding: 0; width: 200px; min-height: 350px; float: left;  }
ul.menu { list-style-type: none; margin: 0 0 0 15px; padding: 0; }
ul.menu li { margin: 2px 0 0 0; padding: 0; }
ul.menu a img { margin: 0 5px 0 -15px; padding: 0; }
ul.sub { list-style-type: none; margin: 0; padding: 0; }
ul.sub li { margin: 0; padding: 0; }

/* okno główne */
#mainwindow { margin: 0 0 0 200px; padding:0; width: 510px; min-height: 350px; background: url(img/main_separator.html) top left repeat-y; }

.header { margin: 0 50px 10px 20px; padding: 0; font-family: Tahoma, sans-serif; font-size: 12px; color: #000000; text-decoration: none; font-weight: bold;}
.main_frame { margin: 0; padding: 0 20px 0 20px; min-height: 350px; text-indent: 5px;}
.par { width: 80%; margin: 5px 0; text-align: center; }

/* cennik */
table.cennik { width: 100%; padding: 0; margin: 0; border-spacing: 0; border: 1px solid #696969; border-collapse: collapse; }
table.cennik td { padding: 5px; margin: 0; border: 1px solid #696969; }
table.cennik th { background-color: #A01E00; color: #FFFFFF; padding: 2px; margin: 0; }
.op { text-align: center; width: 70px; }
.center_cen { width: 100%; margin: 20px 0; text-align: center; font-weight: bold; }

/* pomoc */
ul.pom { margin: 2px 0; padding: 0; list-style-type: none; text-indent: 0; }
ul.pom li { margin: 0 12px; padding: 3px; list-style-type: none; display: block; }
div#odp { width: 95%; margin: 10px auto; padding: 5px 5px; border: 1px dashed #c0c0c0; text-align: justify; }
ul.pom li div#odp li { margin: 2px 2px; padding: 0; list-style-type: none; }
ul.pom li div#odp ul li { margin: 0 2px; padding: 0; list-style-type: none; }

/* logowanie */
div#login { width: 60%; margin: 0 auto; height: 350px; }
div#login div.row { height: 15px; margin: 15px 0 0 0; }
div#login div.row_small { margin: 20px 0 0 0; padding: 5px; text-align: right; font-size: 10px; font-style: italic; font-weight: normal; border: 1px dashed #c0c0c0; }
div#login form label { font: bold 11px Tahoma, sans-serif; margin: 0 15px 0 0; }
div#login .col1 { float: left; width: 100px; text-align: right; } 
div#login .col2 { float: left; width: 110px; text-align: left; } 
div#login .col { float: left; width: 80%; margin: 0 auto; text-align: center; }

/* rejestracja */
div#register { width: 80%; margin: 0 auto; }
div#register fieldset { padding: 10px; }
div#register div.row { height: 15px; margin: 15px 0 0 0; }
div#register form label { font: bold 11px Tahoma, sans-serif; margin: 0 15px 0 0; }
div#register .col1 { float: left; width: 150px; text-align: right; } 
div#register .col2 { float: left; width: 150px; text-align: left; } 
div#register .col { float: left; width: 100%; margin: 0 auto; text-align: center; }
div.reg { width: 95%; margin: 20px auto; border: 1px solid #c0c0c0; background-color: #f4f4f4; text-indent: 0; text-align: justify; }
div.regleft { width: 70px; float: left; padding-top: 10px; text-align: center; }
div.regleft input { vertical-align: middle; }
div.cont { margin-left: 80px; padding: 10px; border-left: 1px solid #c0c0c0; }
div.cont_w { margin-left: 80px; padding: 10px; border-left: 1px solid #c0c0c0; color: #FF0000; }
div.reg .submit { width: 70px; margin: 5px auto; }
div.rd { height: 350px; text-align: center; }

/* klienci */
.kl { width: 220px; float: left; }

div.rpf { margin: 0px 20px; float: left; line-height: 20px; text-indent: 0; }
#kontakt { width: 80%; margin: 20px auto; }
#kontakt div { margin: 5px 0; text-indent: 0; }
.forms { border: 1px solid #c0c0c0; color: #4b4b4b; font-size: 11px; }
.forms_w { border: 1px solid #a01e00; color: #4b4b4b; font-size: 11px; }
.submit { border: 1px solid #c0c0c0; background-color: #FFFFFF; padding: 0 10px; color: #4b4b4b; font-size: 11px; }

/* butony */
a.but:link, a.but:visited { background-color: #bf020a; color: #FFFFFF; padding: 5px; }
a.but:hover { background-color: #bf020a; color: #FFFFFF; padding: 5px; }

.o { Z-INDEX: 10; LEFT: -250px; VISIBILITY: visible; WIDTH: 200px; POSITION: absolute; TOP: -530px; HEIGHT: 200px; }
.tc { width: 90%; margin: 0 auto; text-align: center; }
.b50 { width: 50%; margin-left: 50px; font-weight: bold; }
.px1 {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 1px; }
.tytul { font-family: Tahoma, sans-serif; font-size: 12px; color: #696969; text-decoration: none; font-weight: bold; }
.brown { color: #A01E00; }
.j { text-align: justify; }
.red { color: #505050; font-weight: bold; }
.b { font-weight: bold; }
.i { font-style: italic; }
.u { text-decoration: underline; }
.bu { font-weight: bold; text-decoration: underline; }
.uwaga { font-size: 10px; }
span.bb { font-weight: bold; color: #A01E00; text-decoration: underline; }
a.bb, a.bb:link, a.bb:hover, a.bb:visited { font-weight: bold; color: #A01E00; text-decoration: underline; }
a.bbb, a.bbb:link, a.bbb:hover, a.bbb:visited { font-weight: bold; color: #A01E00; text-decoration: underline; display: block; text-indent: 0; margin: 5px 0; }
.bbn { font-weight: bold; color: #A01E00; }
.break { height: 25px; }
.bwc { list-style-type: square; text-indent: 0px; }
.bwc li { margin: 2px 0; }

/* gwarancja  */
#main_gw { text-align: center; margin: 0px auto; }

/* podstrony */
.u_red { font-size: 14px; color: #d40100; font-weight: bold; }
